* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1,h2,h3,p{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
Link{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.post{
   
    background-color:rgb(78, 77, 68);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
button{
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(39, 39, 161);
    color: white;
    width: 70px;    
    font-weight: 600;
}
.btn{
    margin-left: 370px;    
    display: flex;
    margin-top: -25px;
   
}
.delete{
  background-color: rgb(209, 65, 65);  
  margin-left: 5px;
}
.active{
    background-color: chocolate;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.entete{
    background-color: white;
    width: 100%;
    padding: 10px;
    color:black;
    border-radius: 10px;
}
.entete h3{
    color:black;
}
body{
    width:100%;
    height:100vh;
    background-color: rgb(20,26,43);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.info{
    display: flex;
    gap: 1rem;
    color:white;
    
    
    
}
.compteur{
    display: flex;
    width:160px;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #fff;
    color:#333;
    border-radius:5;
    gap:10px;
    margin-bottom: 10px;
}
.compteur p{
    color:#333;
    font-weight: bold;
    font-size: 25px;
    
}
.compteur button{
    padding: 15px;
}
p.erreur{
    color: rgb(170, 54, 54)
}

